[Unit]
Description=Backend Service
After=network.target

[Service]
User=expense
WorkingDirectory=/app
Environment="DB_HOST=mysql.dawgs.online"
ExecStart=/bin/node /app/index.js
Restart=always
RestartSec=3
SyslogIdentifier=backend

[Install]
WantedBy=multi-user.target